<div class="container"
fxLayout="column"
fxLayoutGap="10px">

<div fxFlex>
<div fxLayout="row" fxLayoutAlign="none center">
 <h3 fxFlex="80%">My Favorites</h3>
 <span class="flex-spacer"></span> 
 <mat-slide-toggle fxFlex
 [(ngModel)]="delete" >
 Delete!
 </mat-slide-toggle>
</div>
<hr>
</div>

<div *ngIf="favorites || errMess; else loading">
<div fxFlex *ngIf="favorites" >
<mat-grid-list cols="2" rowHeight="200px">
 <mat-grid-tile *ngFor="let book of favorites">
   <mat-grid-tile-footer>
    <div [routerLink]="['/bookdetail', book._id]" >

     <h1 mat-line>{{book.title | uppercase}}</h1>
    </div>

     <span class="flex-spacer"></span>
     <button mat-icon-button *ngIf="delete" (click)="deleteFavorite(book._id)">
       <span style="color: red;" class="fa fa-times fa-lg"></span>
     </button>
   </mat-grid-tile-footer>
 </mat-grid-tile>
</mat-grid-list>
</div>
<div *ngIf="errMess">
<h2>Error</h2>
<h4>{{errMess}}</h4>
</div>
</div>
<ng-template #loading>
  <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
</ng-template>
</div>